.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 5%;
  box-shadow: var(--shadow-lg);
  position: sticky;
  top: 0;
  z-index: 23323;
  background-color: var(--bg-secondary);

  .field {
    width: 60%;
  }

  .search {
    width: 40%;
  }
}