.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5% 16px 2rem;
  box-shadow: var(--shadow-lg);
  position: sticky;
  top: 0;
  z-index: 23323;
  background-color: var(--bg-surface);
  gap: 20px;


  .field {
    width: 60%;
  }

  .searchButton {
    min-width: auto;
    width: auto;
    padding: 8px 16px;
    font-size: 1.5rem;
  }
}

.logo {
  aspect-ratio: 5/2;
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  object-fit: contain;
}

.topRow, .bottomRow {
  display: contents;
}

.searchContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 40%;
}

@media (max-width: 768px) {
  .navBar {
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    justify-content: center;
  }

  .topRow {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .bottomRow {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .logo {
    max-width: 180px;
  }

  .searchContainer {
    width: 100%;
    gap: 12px;
  }

  .field {
    width: 100%;
  }

  .searchButton {
    padding: 8px 20px;
    font-size: 18px;


  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navBar {
    gap: 16px;
  }

  .logo {
    align-items: center;
    max-width: 200px;
  }

  .searchContainer {
    width: 35%;
  }
}