.navBar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 5%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: var(--color-white);
}

.search{
  width: 20%;
  height: 20%;
}