* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    /* backgrounds */
    --bg-main: #ededed;
    --bg-surface: #FFFFFF;
    --bg-secondary: #F8FAFC;

    /*borders */
    --border-default: #E5E7EB;
    --border-light: #F3F4F6;
    --border-focus: #3B82F6;

    /*text */
    --text-primary: #111827;
    --text-secondary: #6B7280;
    --text-tertiary: #9CA3AF;

    /* accents */
    --primary: #3B82F6;
    --primary-hover: #2563EB;
    --primary-light: #EFF6FF;

    /* shadows  */
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

    /*roundings */
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-full: 9999px;

    /*animations */
    --transition: 0.2s ease;
}